.cart_wrapper{
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 1px;
}

.cart_container{
  padding: 0 3.6rem;
  width: 100%;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 1488px;
}

.item_img{
  width: 100px;
}

.cart_exit{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 50px;
}

.exit_button{
  background-color: rgb(199, 122, 154);
  border-radius: 8px;
  height: 64px;
  width: 157px;
}

.exit_button:hover{
  background-color: rgb(129, 122, 154);
}

.cart_content{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 40px;
  position: relative;
}

.delete_item{
  display: flex;
}

.cart{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 18px;
}

.item_count{
  margin-left: 10px;
  margin-right: 10px;
}

.total_price{
  display: flex;
  width: 25%;
  justify-content: center;
}