.catalog_page{
  background-color: #f2f2f2;
  padding-top: 100px;
}

.container_catalog{
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 1488px;
  margin-top: 6%;
}

.catalog{
  display: flex;
  justify-content: flex-end;
}

.catalog_wrapper{
  flex: 0 1 112.8rem;
  opacity: 1;
  transition: opacity .3s ease;
  width: 100%;
}

.product_catalog{
  gap: 4rem;
  grid-template-columns: repeat(auto-fit,minmax(210px,18.4rem));
  margin-left: 70px;
  justify-items: center;
  display: grid;
  grid-auto-flow: row;
}

.product_card{
  justify-self: start;
  max-width: 28rem;
  padding: 3.6rem .8rem 2.4rem;
  position: relative;
  width: 100%;
  border-radius: .4rem;
  display: block;
  max-height: 100%;
  background-color: #f2f2f2;
}

.product_card:hover{
  color: black;
}

.product_card_link{
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.product_card_body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product_card_img{
  display: block;
  margin-bottom: 1.8rem;
  width: 100%;
  color: transparent;
  padding-top: 100%;
  position: relative;
}

.picture{
  opacity: 1;
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

.product_card_text{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  font-size: 1.4rem !important;
  line-height: 2rem !important;
  font-weight: 400;
}

.product_card_title{
  margin-bottom: 1.2rem;
}

.product_card_subtitle{
  height: auto;
  margin-top: .8rem;
  overflow: hidden;
  display: -webkit-box;
  color: rgba(0,0,0,.4);
  font-size: 1.2rem !important;
  line-height: 1.6rem !important;
  font-weight: 400;
}

.sticky{
  position: relative;
  width: 25%;
}

.sticky_container{
  margin-right: 1.6rem;
  width: 24.8rem;
  padding: 1.6rem 1.6rem 1.6rem 0;
  height: max-content;
}

.product_filter_item{
  margin-bottom: 1.6rem;
  margin-top: 20px;

}

.product_filter_title{
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  width: 100%;
  font-size: 1.4rem !important;
  line-height: 2rem !important;
  font-weight: 400;
}

product_filter_body{
  padding-left: 1.4rem;
}

.product_filter_opts{
  list-style: none;
  max-height: 20.4rem;
  overflow-y: auto;
}

.filter_opts_item{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 19px;
}

.checkbox{
  margin: 0;
  opacity: 1;
  padding: 0;
}

.label{
  cursor: pointer;
  padding-left: 15px; 
}

.input_field_container{
  padding: 0 3.6rem;
  max-width: 1488px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}


.input_field{
  width: 25%;
  border-radius: 4px;
  height: 40px;
}

.filter_title{
  font-size: 1.7rem !important;
  padding-left: 1.6rem;
}